body{
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
}
.box{
    background-color: red;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    .innerbox{
        height: 25px;
        width: 25px;
        background-color: purple;
    }
}



@mixin active{
    background: black;
    color: aquamarine;
    font-size: large;
    border-radius: 20px;
    padding: 10px;
}

#text{
    @include active
}